Flask==2.2.3
ipython==8.11.0
matplotlib==3.5.2
numpy==1.24.2
pandas==1.4.3
python_dateutil==2.8.2
yfinance
pyportfolioopt==1.5.4
scikit-learn==1.2.2
gunicorn
gevent
yahooquery
requests_cache
BeautifulSoup4==4.12.2
nltk
scipy