<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .responsive {
          max-width: 100%;
          height: auto;
        }
        .column {
            float: left;
            max-width: 50%;
            padding: 10px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Portfolio Optimizor</h1>
    <form method="post" action="{{ url_for('operation_result') }}" id="calculator_form">
        <label for="Tickers">Tickers (Formate: AAA, BBB, CCC or AAA BBB CCC):</label>
        <br/>
        <input type="text" name="Tickers" id="Tickers" size="100" value="NFLX, DOCU, TWTR, IDXX, HSY, PYPL">
        <br/>
        <label for="Track_back_years:">Track Back (years):</label>
        <br/>
        <input type="number" name="Track_back_years" id="Track_back_years" value="5">
        <br/>
        <label for="rf_rate">Risk Free Rate (Default as 3 Month Treasury Bill Rate):</label>
        <br/>
        <input type="number" step="any" name="rf_rate" id="rf_rate">
        <br/>
        <input type="submit" value="Submit"/>
        <input type="reset"  value="RESET" style="color: red;"/>
    </form>
    {% if calculation_success == True %}
        <div class="row" style="background-color:#aaa;">
            <div class="column">
                <h2>Cumulative Returns</h2>
                <img src="data:image/png;base64,{{ cumulative_returns }}" class="responsive" />
            </div>
            <div class="column">
                <h2>Return Facts</h2>
                <h3>Mean Returns</h3>
                {{ mean_return|safe }}
                <h3>Risk Matrix</h3>
                {{ cov_returns|safe }}
            </div>
        </div>
        <br/>
        <div class="row" style="background-color:#bbb;">
            <div class="column">
                <h2>Efficient Frontier</h2>
                <img src="data:image/png;base64,{{ efficient_frontier }}" alt="Nature" class="responsive" />
            </div>
            <div class="column">
                <h2>Portfolio Allocations and Performance</h2>
                <h3>Highest Sharpe Ratio</h3>
                {{ bsr_weight|safe }}
                {{ bsr_perf|safe }}
                <h3>Lowest Volatility</h3>
                {{ mv_weight|safe }}
                {{ mv_perf|safe }}
            </div>
        </div>
        
    {% endif %}
    {% if calculation_success == False %}
        <br/>
        <p>{{error}}</p>
    {% endif %}
</body>
</html>