<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .responsive {
          max-width: 100%;
          height: auto;
        }
        .column {
            float: left;
            max-width: 50%;
            padding: 10px;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        footer {
            text-align: right;
            background-color: rgb(115, 138, 118);
            color: white;
        }
        input[type=submit], input[type="reset"]{
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
            width: 150px;}
        .tabcontent {
          display: flex;
          text-align: center;
          vertical-align: middle
        }
        
    </style>
    <title>Option Analysis (in progress)</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td width="30%" align="left" valign="bottom">
                <a href="https://www.smithquaaf.com/">
                    <img src="https://static.wixstatic.com/media/6384cb_7cc6f906914340b9a48db70681ee036c~mv2.png/v1/crop/x_0,y_2,w_1370,h_608/fill/w_290,h_129,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/QUAFF-logo-colour_3x.png" 
                    alt="Image" width="130" height="58">
                </a>
            </td>
          <td width="40%" align="center" valign="bottom">
            <h1 style="margin: 0;">Option Analysis (in progress)</h1>
          </td>
          <td width="30%" align="right" valign="bottom">
            <form method="get" action="{{ url_for('main') }}" id="main">
                <input type="submit" value="Return to main page" style="float:right;width: 150px; height: 30px; font-size:15px; margin_bottom:100px"/>
            </form>
          </td>
        </tr>
      </table>
    <hr>
    <div>
        <footer>
            <table width="100%">
                <tr>
                    <td width="70%" align="left" valign="bottom">
                        <p>* Any investment decisions made based on the information and tools provided on our website are done at your own risk. We strongly recommend that you seek the advice of a licensed financial advisor before making any investment decisions. </p>
                    </td>
                    <td width="10%" align="left" valign="bottom">
                    </td>
                  <td width="20%" align="left" valign="bottom">
                    <p><small>Author: Minxiang Liu<br> Email: lminxiang@gmail.com</small><br>
                    <a href="https://www.linkedin.com/in/minxiang-liu-7b147193/"><small>Linkedin</small></a>
                    <a href="https://github.com/snbmm/QUAAF_Predictive_Modelling"><small>Github</small></a></p>
                  </td>
                </tr>
              </table>
        </footer>
        <hr>
        </div>

    <div class="row">
            <form method="post" action="{{ url_for('option_result') }}" id="calculator_form">
                <div class="column" style="width: 46%; padding: 1% 2%" align="left">
                    <label for="Ticker">Ticker (Format: AAPL):</label>
                    <br/>
                    <input type="text" name="Ticker" id="Ticker" value={{default_ticker}}>
                    <br/>
                    <label for="option_type">Option type:</label>
                    <br/>
                    <select name="option_type">
                        <option value="call" {% if default_option_type == "call" %} selected {% endif %}>Call Option</option>
                        <option value="put" {% if default_option_type == "put" %} selected {% endif %}>Put Option</option>
                    </select>
                    <br/>
                    <label for="All call options expiry within (weeks):">All call options expiry within (weeks):</label>
                    <br/>
                    <input type="number" name="expiry" id="expiry" value={{default_expiry_weeks}}>
                    <br/>
                    <label for="rf_rate">Risk Free Rate (Default as 10 years treasury yield):</label>
                    <br/>
                    <input type="number" step="any" name="rf_rate" id="rf_rate" value={{default_rfr}}>
                    <br/>
                    <label for="trade_date">Consider trade within (days):</label>
                    <br/>
                    <input type="number" name="trade_date" id="trade_date" value={{default_trade_date}}>
                    <br/>
                    <label for="curvefit_t">Curve fit threshold (lower means more strict):</label>
                    <br/>
                    <input type="number" name="curvefit_t" id="curvefit_t" value={{default_curvefit_t}}>
                    <br/>
                    <input type="submit" name="submitIV" value="Analyse Options"  style = "font-size:15px"/>
                </div>
                {% if iv_calculation_success == True %}
                <div class="column" style="width: 46%; padding: 1% 2%" align="left">
                    <label for="contractSymbol">Build portfolio with contract Symbol</label>
                    <br/>
                    <label for="contractSymbol"></label>(Format: AAPL230804P00205000, choose low IV put option.):</label>
                    <input type="text" name="contractSymbol" id="contractSymbol" value={{default_contractSymbol}}>
                    <br/>
                    <input type="submit" name="submitPo" value="Build Portfolio"  style = "font-size:15px"/>
                </div>
                {% endif %}
            </form>
    </div>
        {% if iv_calculation_success == True %}
            {% if po_calculation_success == True %}
            <br/>
            <div class="row" style="background-color:#66ac6a;">
                <div class="column" style="width: 46%; padding: 1% 2%" align="center">
                    <h2>Iteration table for best Sharpe Ratio</h2>
                    {{iteration_log|safe}}
                    <br/>
                    <br/>
                    <h3>Best put/stock ratio {{max_input}}</h3>
                    <h3>Mean Return change from {{original_return}}% to {{new_return}}%</h3>
                    <h3>Sharpe Ratio change from {{original_sharpe_ratio}} to {{best_sharpe_ratio}}</h3>
                </div>
                <div class="column" style="width: 46%; padding: 1% 2%" align="center">
                    <h2>Portfolio with {{default_contractSymbol}}</h2>
                <img src="data:image/png;base64,{{ port_plot_url }}" class="responsive" />
                </div>
            </div>
            {% endif %}
        
    <div class="row" style="background-color:#9cb3a2;">
        <div class="column" style="width: 46%; padding: 1% 2%" align="center">
            <h2>Call option Tables</h2>
            <label for="expiry_date">Expiry date:</label>
            <select name="expiry_date" id="expiry_date" onchange="openOptionTable(this)">
                {% for t in option_table_keys%}
                <option value="{{t}}">{{t}}</option>
                {% endfor %}
            </select>
            <br/>
            {% for t in option_table.keys()%}
                {% if t == option_table_keys[0] %}
                    <div id="{{t}}" class="tabcontent" style="display:block">
                {% else %}
                    <div id="{{t}}" class="tabcontent" style="display:none">
                {% endif %}
                        {{ option_table[t]|safe }}
                    </div>
            {% endfor %}
        </div>
        <div class="column" style="width: 46%; padding: 1% 2%" align="center">
            <h2>{{default_ticker}} Option iv (did it smile?) </h2>
            <img src="data:image/png;base64,{{ plot_url }}" class="responsive" />
        </div>
    </div>

    {% endif %}
    {% if iv_calculation_success == False %}
        <br/>
        {{error | safe}}
        <p>Please check if the tickers input ({{default_tickers}}) are correct</p>
    {% endif %}
    </div>
    <br/>

    <script>
        function openOptionTable(elmnt) {
            var i, tabcontent;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            document.getElementById(elmnt.value).style.display = "block";        
        }
    </script>

    <div>
        <hr>
        </div>
</body>
</html>